.home {
    background-color: var(--brown);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
}

.home > * {
    z-index: 1;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.left__title {
    position: relative;
    width: 30vw;
    margin-top: -12vh;
    margin-bottom: 3vh;
}

.left__lineup {
    display: flex;
    align-items: center;
    color: white;
    font-size: 2.5rem;
    margin-top: -5vh;
    gap: 0.5vw;
    margin-bottom: 5vh;
    color: var(--light-blue);
    vertical-align: middle;

    span {
        color: var(--blue);
    }

    svg {
        margin-bottom: 4px;
    }
}

.left__when {
    display: flex;
    align-items: center;
    gap: 1.2vw;
    border-bottom: 2px solid var(--blue);
    padding-bottom: 1vh;

    p {
        color: var(--light-blue);
        font-size: 5rem;
        text-align: center;
    }
}

.left__when__date {
    line-height: 1.7rem;
    span {
        color: var(--blue);
        font-size: 2rem;
    }
}

.left__when__time {
    span {
        color: var(--blue);
        font-size: 2.5rem;
    }
}

.left__where {
    color: var(--light);
    text-align: center;
    font-size: 1.6rem;
    text-decoration: none;
}

.home__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.right__confirmation{
    background: linear-gradient(239.94deg, var(--light-brown) 10.45%, var(--light-brown) 69.95%);
    font-family: Poppins;
    padding: 2vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;

    h2 {
        color: var(--light);
        text-align: center;
    }

    button {
        max-width: 15vw;
        font-family: 'Poppins';
        background-color: var(--blue);
        border: none;
        color: var(--light);
        padding: 10px 25px;
        border-radius: 10px;
        transition: all 0.15s ease-in-out;

        &:hover{
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}

.right__confirmation__submitted{
    flex-direction: row;

    video {
        max-height: 40vh;
        border-radius: 10px;
    }
}

.right__inputs{
    display: flex;
    gap: 1vw;

    input {
        font-family: Poppins;
        border-radius: 5px;
        padding: 10px 20px;
        outline: none;
        border: none;
    }
}

.right__confirmed{
    font-family: Poppins;
    background-color: var(--blue);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    max-width: 35vw;
    min-width: 27vw;

    h2 {
        font-size: 2rem;
        color: var(--light);
        text-align: center;
        line-height: 2.2rem;

        span {
            color: var(--light-blue);
        }
    }

    table {
        background: white;
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        border-radius: 5px;
        padding: 1rem;
        max-height: 32vh;
        min-width: 95%;
        overflow-y: scroll;
        overflow-x: hidden;
        align-items: center;

        &::-webkit-scrollbar {
            width:  8px;
          }
        
          &::-webkit-scrollbar-thumb {
            background: var(--dark-blue);
          }
        
          &::-webkit-scrollbar-track {
            background: var(--light);
          }
        
          & {
            scrollbar-face-color: var(--dark-blue);
            scrollbar-track-color: var(--light);
          }
    }
}

.right__guestName, .right__guestInstagram{
    border-bottom: 1px solid var(--light-blue);
    margin: 0 5px;
    padding: 7px 5px;
    font-size: 1.4rem;
}
  
.right__guestInstagram > a{
    font-weight: 700;
    color: var(--blue);
}
  
.right__guestIcon {
    padding-top: 5px;
    width: 1.3vw;
    color: var(--light-blue);
}

.home__sound {
    position: absolute;
    top: 5vh;
    left: 5vh;
    background: var(--light-blue);
    border: none;
    border-radius: 50%;
    padding: 4px 5px;
    cursor: pointer;

    svg {
        fill: var(--dark-blue);
        font-size: 3rem;
    }
}

.home__ref {
    position: absolute;
    bottom: 1.5vh;
    right: 1.5vh;
    border-radius: 5px;
    background-color: var(--light);
    padding: 3px 7px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;

    &:focus{
        color: var(--black);
    }

    svg {
        font-size: 2.5rem;
    }

    span {
        color: var(--dark-blue);
        font-weight: 700;
        font-family: Poppins;
        font-size: 1rem;
        text-align: center;
    }
}

@media(max-width: 560px){
    .home {
        flex-direction: column;
        gap: 7vh;
        overflow-y: scroll;
    }

    .left {
        gap: 3vh;
    }

    .left__title {
        margin-top: 70vh;
        width: 100vw;
    }

    .left__lineup {
        flex-direction: column;
    }

    .left__when, .left__where {
        gap: 2.5vw;
        transform: scale(1.15);
    }

    .right__confirmation {

        padding: 3vh 3vw;
        max-width: 85vw;
        text-align: center;
        gap: 2.5vh;

        button {
            width: 40vw;
            max-width: none;
        }
    }

    .right__inputs{
        flex-direction: column;
        gap: 1.5vh;
    }

    .right__confirmed {

        max-width: 87vw;

        table {
            max-height: 30vh;
            min-width: none;
            max-width: 87vw;
        }
    }

    .right__confirmation__submitted{
        flex-direction: column;
        padding: 3vh 12vw;

        video {
            max-height: 45vh;
            border-radius: 10px;
        }
    }

    .right__guestIcon {
        width: 2vw;
        padding-right: 1vw;
    }

    .home__sound {
        left: 4vw;
        top: 3vh;
    }

    .home__ref {
        position: unset;
        margin: -4vh 0 2vh 0;
    }

}